menu "Telenor Managed IoT Cloud CoAP Application"

config COAP_RESOURCE
  string "CoAP resource path"
  default ""

config COAP_SERVER_HOSTNAME
  string "CoAP server hostname"
  default "172.16.32.1"

config COAP_SERVER_PORT
  int "CoAP server port"
  default 5683

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = APP
module-str = Telenor MIC CoAP
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
