menu "Telenor Managed IoT Cloud CoAP Application"

config COAP_SERVER_IP
	string "CoAP server IP address"
	default "172.16.32.1"

config COAP_SERVER_PORT
	int "CoAP server port"
	default 5683

endmenu

menu "Sensors"

config CONFIG_BME680
	bool "Use BME680 (environment) sensor"
	default y if BOARD_THINGY91_NRF9160NS

config CONFIG_BH1749
	bool "Use BH1749 (light) sensor"
	default y if BOARD_THINGY91_NRF9160NS

config CONFIG_ADXL362
	bool "Use ADXL362 (motion) sensor"
	default y if BOARD_THINGY91_NRF9160NS

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = MAIN
module-str = MAIN
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
